/* .output-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  text-align: left;
  width: 80%;
  height: 600px;
  margin: auto;
  overflow: scroll;
  white-space: pre-wrap;
} */
