.MobileMessage {
    background-color: black;
    font-size: var(--h1-size);
    letter-spacing: -0.02em;
    line-height: 102.2%;
    display: inline-block;
    font-weight: 700;
    font-family: var(--h1);
    color: white;
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}