.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgb(173, 222, 230); */
  color: white;
  text-align: center;
  padding: 1rem;
}

.footerMobile {
  /* position: fixed;
  bottom: 0; */
  /* background-color: rgb(173, 222, 230); */
  /* color: white; */
  /* padding: 1rem; */
  text-align: center;
}
