/* @import url("https://fonts.googleapis.com/css2?family=Degular+Text:wght@700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Degular:ital,wght@0,700;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flow+Rounded:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.typekit.net/mwm0kqc.css");

body {
  margin: 0;
  line-height: normal;
}

textarea::placeholder {
  color: gray;
}

:root {
  /* fonts */
  --font-jetbrains-mono: "JetBrains Mono";
  --h2: Inter;
  --h1: "degular", sans-serif;
  --font-flow-rounded: "Flow Rounded";
  --font-degular-text: "Degular Text";

  /* font sizes */
  --font-size-xs: 11.62px;
  --font-size-sm: 15.92px;
  --h3-size: 19.61px;
  --font-size-lg: 30.03px;
  --h2-size: 23.43px;
  --font-size-2xl: 36px;
  --h1-size: 57.52px;
  --font-size-4xl: 70.6px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-gray-200: rgba(255, 255, 255, 0.7);
  --color-gray-300: rgba(255, 255, 255, 0.8);
  --color-gray-400: rgba(255, 255, 255, 0.2);
  --color-gray-500: rgba(255, 255, 255, 0.1);
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-sm: 8px;
  --gap-md: 17.35px;

  /* Paddings */
  --padding-xs: 10px;
  --padding-sm: 17.35271644592285px;
  --padding-md: 20px;
  --padding-lg: 21px;

  /* border radiuses */
  --br-sm: 11px;
  --br-md: 13.88px;
  --br-lg: 16px;
}
