.resultTextArea {
  margin: auto;
  /* width: 100px; */
  padding: 2rem;
}

.largerContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
  margin-top: 50px;

}

.overallContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.privacy {
  font-size: 10px;
}

.resultButtons {
  display: flex;
  flex-direction: row;
}

.copyClipboard {
  padding: 1rem;
}

.clearButton {
  padding: 1rem;
}

.instructions {
  max-width: 500px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
