.resultTextArea {
  margin: auto;
  /* width: 100px; */
  padding: 3rem;
}

.largerContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.overallContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 1rem;

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
